snippet meta
---
title: ${1:Titre}
subtitle: ${2:Compétences}
author: ${3:Classe}
date: ${4:`date +%d-%m-%Y`}
tags: $5
titlepage: true
---
# $1
$0
endsnippet

snippet post
---
title: ${1:title}
layout: post
date: '${2:`date +%Y-%m-%d`}
categories:
- ${3: music}
description: ${4:description}
image: /assets/img/${5:image}.jpg
image-sm: /assets/img/$5-sm.jpg
---
$0
endsnippet
